
// start .sContact
.sContact {
	--sPT: #{rem(24)};
	// --sPT: #{rem()};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	// position: relative;
	// z-index: 1;
	// background-color: $body-bg;
	@include media-breakpoint-up(md)  {
		--sPT: #{rem(49)};
	}
	h1 {
		margin-bottom: 0;
	}
	table {
		width: 100%;
		margin-bottom: rem(40);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}
		tr {
			@include media-breakpoint-down(md) {
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid rgba(255, 255, 255, 0.30);
				padding-bottom: rem(24);
				margin-bottom: rem(16);
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
			}
			&:nth-child(1) {
				td {
					border-bottom: none;
				}
			}
			&:nth-child(2) {
				td {
					@include media-breakpoint-up(md) {
						padding-bottom: rem(93);
					}
					&:first-child {
						@include media-breakpoint-down(md) {
							display: none;
						}
					}
				}
			}
			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
		td {
			vertical-align: baseline;
			padding: 0 0;
			line-height: 1.6;
			&:not(:last-child) {
				margin-bottom: rem(16);
				@include media-breakpoint-up(md) {
					margin-bottom: 0;
				}
			}
			@include media-breakpoint-up(md) {
				padding: rem(16) rem(8);
				border-bottom: 1px solid rgba(255, 255, 255, 0.30);
			}
			&:first-child {
				@include media-breakpoint-up(md) {
					padding-left: 0;
					width: rem(408);
				}
			}
			&:last-child {
				@include media-breakpoint-up(md) {
					padding-right: 0;
				}
			}
		}
		a, span {
			display: block;
			max-width: max-content;
			color: #fff;
			margin-bottom: rem(8);
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				color: $primary;
			}
		}
		span {
			display: block;
		}
		.h6 {
			font-size: rem(13);
			font-weight: 300;
			line-height: 1.23;
			letter-spacing: em(3);
			text-transform: uppercase;
		}
	}
	&__map {
		@include block(1,1);
		width: 100vw;
		margin-left: calc((100vw - 100%) / -2);
		@include media-breakpoint-up(md) {
			--ratio: 1280/602;
		}
		& > * {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__row {
		--bs-gutter-x: #{rem(20)};
		margin-bottom: rem(24);
		align-items: center;
	}
	&__input-wrap {
		position: relative;
		display: inline-block;
		width: 100%;
		label {
			width: 100%;
		}
		@include media-breakpoint-up(md) {
			width: auto;
		}
		&::after {
			position: absolute;
			content: '';
			top: 50%;
			right: rem(8);
			width: rem(24);
			height: rem(24);
			background-image: url('../img/chevron-down.svg');
			background-repeat: no-repeat;
			background-size: cover;
			transform: translateY(-50%);
			pointer-events: none;
		}
	}
	&__input {
		padding: rem(8) rem(40) rem(8) rem(8);
		border-radius: 4px;
		border: none;
		background: rgba(255, 255, 255, 0.10);
		@include media-breakpoint-up(md) {
			min-width: rem(219);
		}
	}
	&__switch {
		display: flex;
		align-items: center;
		a {
			display: flex;
			align-items: center;
			flex: 0 0 auto;
			padding: rem(12) rem(16);
			border-radius: 4px;
			color: #fff;
			.icon {
				font-size: rem(16);
				flex: 0 0 auto;
				@include media-breakpoint-up(md) {
					margin-right: rem(8);
				}
			}
			&:hover, &.active {
				background-color: rgba(255, 255, 255, 0.10);
			}
		}
	}
	&--2 {
		--sPT: #{rem(0)};
		@include media-breakpoint-up(md) {
			--sPT: #{rem(7)};
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact