mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			table
				tr
					td: h1.h2 Контакты
					td(colspan=2) 
						+e.adress 190020, Санкт-Петербург, Лифляндская улица, дом 6, литера К
				tr
					td
					td
						a(href="tel:+78123133919") +7 (812) 313-39-19
						a(href="mailto:info@lintex.ru") info@lintex.ru
					td 
						span Пн-Чт: с 9:00 до 18:00
						span Пт: с 9:00 до 16:00 
				tr
					td: .h6 По общим вопросам
					td: a(href='tel:+78123854430') +7 (812) 385-44-30
					td
						a(href='mailto:info@lintex.ru') info@lintex.ru
						a(href="mailto:sekretar@lintex.ru") sekretar@lintex.ru
				tr
					td: .h6 Отдел продаж
					td
						a(href="tel:+78123854430") +7 (812) 385-44-30
						a(href="tel:+78123192181") +7 (812) 319-21-81
					td: a(href="mailto:sekretar@lintex.ru") sekretar@lintex.ru 
			+e.map: #map 
			script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c")
			script.
				ymaps.ready(init);
				function init() {
					var myMap = new ymaps.Map("map", {
							center: [59.90996203803564,30.267265129143013],
							zoom: 15
					}, {
							searchControlProvider: 'yandex#search'
					});
					myPlacemark = new ymaps.Placemark([59.90996203803564,30.267265129143013], {
					}, {
							iconLayout: 'default#image',
							iconImageHref: 'img/svg/place.svg',
							iconImageSize: [64, 64],
							iconImageOffset: [-32, -64]
					}),
					myMap.geoObjects
						.add(myPlacemark)
					myMap.behaviors.disable('scrollZoom');
					if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
						// ... отключаем перетаскивание карты
						myMap.behaviors.disable('drag');
					};
				}
	// end sContact