mixin sCard(data)
	// start sCard
	+b.SECTION.sCard.section.section-animate#sCard&attributes(attributes).white-section
		.block-with-animante
		.container
			+ddGroup()
				+ddGroupItem('Описание материала', '')
					p Новейшее противоспаечное средство для профилактики и&nbsp;лечения спаечного процесса в&nbsp;хирургии. Противоспаечный гель обладает уникальными свойствами и&nbsp;эффективно предотвращает образование спаек в&nbsp;организме человека.
				+ddGroupItem('Формы выпуска препарата', '')
					p Может выпускаться в&nbsp;одноразовых полимерных контейнерах или одноразовых полимерных шприцах. Полимерные шприцы могут быть укомплектованы принадлежностями&nbsp;&mdash; полимерными трубками.
				+ddGroupItem('Показания', '')
					p Мезогель&nbsp;&mdash; гель противоспаечный рассасывающийся, стерильный, предназначен для профилактики спайкообразования при операциях на&nbsp;органах и&nbsp;тканях, где возможно формирование сращений (брюшная полость, сухожильные влагалища, суставы, плевральная полость, полость перикарда, оболочки спинного и&nbsp;головного мозга, полость среднего уха, оболочки яичка).
				+ddGroupItem('Противопоказания', '')
					ul
						li Аллергии на эфиры целлюлозы.
						li Недуги в терминальной или финальной стадии.
					p С большой аккуратностью использовать средство необходимо, если диагностированы проблемы с почками, печенью, наличие гноя и воспаления в зоне применения.
				+ddGroupItem('Применение', '')
					p Нередко предложение купить противоспаечные гели &laquo;Мезогель&raquo; поступает от&nbsp;врача. Но&nbsp;пациент может и&nbsp;сам спросить у&nbsp;хирурга, будет&nbsp;ли тот использовать средство. Обычно его предпочитают специалисты по&nbsp;следующим направлениям
					h3 Гинекология
					p Рекомендуется для любых вмешательств: устранение опухолей, кист, эндометриоза, тератом, разделение спаек, иссечение миомы, трубной беременности и&nbsp;бесплодия
					h3 Урология
					p Используется при хирургических вмешательствах на&nbsp;почках, мочеточниках, ЧЛС, уретре, интраперитонеальной области мочевого пузыря, а&nbsp;также при разделении синехий крайней плоти
					h3 Ортопедия и&nbsp;травматология
					p Применяется при восстановлении суставов, сухожилий и&nbsp;после тенолизаНейрохирургияПомогает восстановиться после невролиза, шва нерва, вмешательства на&nbsp;мозге
					h3 Хирургия носоглотки, органов слуха
					p Рекомендуется при любых видах ринохирургии, хирургических манипуляциях на&nbsp;среднем ухе, а&nbsp;также при лечении адгезивного отита
					h3 Хирургия органов брюшной полости
					p Используется при разделении спаек в&nbsp;брюшной полости, уменьшения желудка, наложения кишечных анастомозов и&nbsp;колостом, работа с&nbsp;кишечной непроходимостью, проведение пилоромиотомий, спленэктомий, холецистэктомий
					h3 Хирургия органов грудной клетки
					p Применяется при резекции легких, устранении опухолевых образований, кист, операций на&nbsp;пищеводном тракте, пневмолизе
				+ddGroupItem('Преимущества', '')
					p Средство «Мезогель» уже хорошо зарекомендовало себя среди хирургов самых разных направлений. Его главные плюсы.
					ul
						li Не является питательной средой для бактерий и прочих микроорганизмов.
						li Не инкапсулируется.
						li Универсален и подходит для разных органов.
			+e.btn.btn.btn-outline-primary(href="#") Ассортимент
				+icon('file-pdf')
			.card-slider-js
				+e.slider.swiper
					.swiper-wrapper
						+e.card-slide.swiper-slide
							+e.item(href="#")
								video( autoplay="" muted="" playsinline="" loop="true"  data-wf-ignore="true" src="video/box.mp4")
							//- : +img('img/card-item-1.png')
						+e.card-slide.swiper-slide
							+e.item(href="#"): +img('img/card-item-2.png')
						+e.card-slide.swiper-slide
							+e.item(href="#"): +img('img/card-item-3.png')
						+e.card-slide.swiper-slide
							+e.item(href="#"): +img('img/card-item-4.png')
						+e.card-slide.swiper-slide
							+e.item(href="#"): +img('img/card-item-1.png')
						+e.card-slide.swiper-slide
							+e.item(href="#"): +img('img/card-item-2.png')
						+e.card-slide.swiper-slide
							+e.item(href="#"): +img('img/card-item-3.png')
						+e.card-slide.swiper-slide
							+e.item(href="#"): +img('img/card-item-4.png')
				+arrow
			+b.section-title--dealer
				h2 Дилеры
			.card-slider-js
				+e.dealer-slider.swiper
					.swiper-wrapper
						+e.dealer-slide.swiper-slide
							+e.dealer-item
								+e.deal-img-wrap: +img('img/sDillers-img-1.png')
								+e.dealer(href="#") РусБиоМатериалы ТД
						+e.dealer-slide.swiper-slide
							+e.dealer-item
								+e.deal-img-wrap: +img('img/sDillers-img-2.png')
								+e.dealer(href="#") ООО «БиоСистемы»
						+e.dealer-slide.swiper-slide
							+e.dealer-item
								+e.deal-img-wrap: +img('img/sDillers-img-3.png')
								+e.dealer(href="#") ООО «Моснитки»
						+e.dealer-slide.swiper-slide
							+e.dealer-item
								+e.deal-img-wrap: +img('img/sDillers-img-4.png')
								+e.dealer(href="#") РусБиоМатериалы ТД
						+e.dealer-slide.swiper-slide
							+e.dealer-item
								+e.deal-img-wrap: +img('img/sDillers-img-1.png')
								+e.dealer(href="#") РусБиоМатериалы ТД
						+e.dealer-slide.swiper-slide
							+e.dealer-item
								+e.deal-img-wrap: +img('img/sDillers-img-2.png')
								+e.dealer(href="#") ООО «БиоСистемы»
				+arrow
	// end sCard