@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-sScienceBody-icon-1 {
	$h: 72;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(72 / #{$h} *1em );
}
.iconC-sScienceBody-icon-2 {
	$h: 72;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(72 / #{$h} *1em );
}
.iconC-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
