@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left-lg {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(25 / #{$h} *1em );
}
.icon-arrow-right {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-arrow-right-lg {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-chevron-left {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-circle-arrow {
	$h: 22;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(51 / #{$h} *1em );
}
.icon-facebook {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-file-pdf {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-grid {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-mail {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-map {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-phone {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-quote {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-search {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-search-p {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-smartphone {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-telegram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-telegram-f {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-twitter {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-vk-bold {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp-f {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-youtube {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-zoom {
	$h: 33;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(33 / #{$h} *1em );
}
