// start .sCertificates
.sCertificates {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	// position: relative;
// 	z-index: 1;
// 	background-color: $body-bg;
	@include media-breakpoint-up(md) {
		--sPT: #{rem(60)};
		--sPB: #{rem(56)};
	}
	&__row{
		// --bs-gutter-x: #{rem(96)};
		--bs-gutter-y: #{rem(32)};
		
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(96)};
			justify-content: flex-start;
		}
	}
	.section-title{
		
	}
	&__wrap {
		position: relative;
		padding: rem(40) rem(16) rem(40) rem(16);
		z-index: 1;
		@include media-breakpoint-down(md) {
			width: 100vw;
			margin-left: calc((100vw - 100%) / -2);
		}
		@include media-breakpoint-up(md) {
			padding: rem(32) 0 rem(32) rem(104);
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			background-color: #0D1923;
			opacity: 0.67;
			z-index: -1;
			@include media-breakpoint-up(md) {
				width: 86%;
			}
		}
	}
	h2 {
		margin-bottom: rem(24);
    padding-bottom: rem(21);
    position: relative;
		&:after {
			background-color: currentColor;
			bottom: 0;
			content: "";
			display: block;
			height: 0.2rem;
			left: 0;
			position: absolute;
			width: 6.4666666667rem;
		}
	}
	p {
		line-height: 1.6;
    margin-bottom: 0;
		color: #fff;
		@include media-breakpoint-up(md) {
			margin-left: max(rem(40), 5.1%);
			// max-width: rem(488);
		}
	}
	&__img-wrap {
		cursor: pointer;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: max-content;
		// width: 100%;
		// max-width: rem(296);
		@include block(422, 296);
		z-index: 1;
		min-height: rem(300);
		// @include media-breakpoint-up(md) {
		// }
		picture {
			width: 100%;
	    // max-width: rem(296);
		}
	}
	&__icon-wrap {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(38);
		height: rem(38);
		border-radius: 8px;
		background-color: #FFF;
		box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
		right: rem(8);
		bottom: rem(8);
		.icon {
			font-size: rem(32);
			color: #1A1A1A;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCertificates