mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container-lg
			+b.section-title
				h1 О компании
				+e.subtitle.P 32 года является одним из ведущих российских производителей хирургических материалов
	// end headerBlock