// start .sMainSlider
.sMainSlider {
  picture {
    z-index: 1000;
    // position: relative;
    position: absolute;
    inset: 0;
    display: none;
    @media (min-width: 768px) and (width <= 1366px),
      (orientation: portrait) and (min-width: 768px) and (width <= 1366px) {
      display: block;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  img {
    height: 100%;
    position: relative;
    z-index: 1000;
    // display: block;
    display: inline-block;
    @media (orientation: portrait) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      max-height: calc(100% - #{rem(280)});
    }
    max-width: 100%;
  }
  @include media-breakpoint-up(xl) {
  }
  // --mainH: 100svh;
  --mainH: 100vh;
  --mainH: 100dvh;
  // --mainH: 100svh;
  position: relative;
  // h100%
  flex-grow: 1;
  @include media-breakpoint-up(xl) {
    --sPT: #{rem(130)};
  }
  --sPT: #{rem(0)};
  --sPB: #{rem(0)};
  @include media-breakpoint-down(xl) {
    height: var(--mainH);
  }
  &__container {
    position: relative;
    z-index: 10;
    @include media-breakpoint-down(lg) {
      padding: 0 1.0666666667rem;
    }
    @include media-breakpoint-down(lg) {
      opacity: 0;
      animation: opacityfull 1.2s ease-in-out 1.2s 1 both;
      @keyframes opacityfull {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  &__slider-video &__slide {
    overflow: hidden;
  }
  &__slider-video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;

    height: 100%;
    z-index: -1;
  }
  h2 {
    color: var(--bs-primary);
    &:hover {
    }
    color: color-mix(in srgb, var(--bs-primary) 75%, #fff);
  }
  &__wrap {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: var(--left, 0);
    // position: relative;
    aspect-ratio: 1;
    z-index: 4;
    // z-index: -2;

    video {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__slider-text {
    transition: all var(--s) cubic-bezier(0.6, 0, 0.31, 0.98);
    --s: 1.2s;
    overflow: visible;
    margin-right: -160px;
    @media (min-width: 992px) {
      --s: 0.8s;
      transform: scale(var(--slideScale));
    }
  }
  &__slider-text &__slide {
    @media (orientation: portrait), (max-width: 992px) {
      display: flex;
      align-items: flex-end;
      // padding-top: calc(var(--vh) * 100 / 2 + 100px);
      padding-bottom: calc(
        env(safe-area-inset-top, 0px) + env(safe-area-inset-bottom, 0px) + #{rem(56px)}
      );
    }
  }
  &__slide {
    // min-height: 100vh;
    height: var(--mainH);
    // min-height: 100%;
    width: calc(100% - 160px);
    margin-right: 160px;
    @media (orientation: portrait), (max-width: 992px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      // height: 100%;
      .sMainSlider__wrap {
        transition: all var(--s) linear;
        --s: 1.2s;
        opacity: 0;
      }
      .sMainSlider__caption {
        transition: all var(--s) linear;
        --s: 1.2s;
        animation: contentAnimation 1.2s ease-in-out 1 both;
        pointer-events: none;
      }
      .aos-animate {
        opacity: 1 !important;
        transform: translateZ(0) !important;
      }
      &.active-slide {
        z-index: 100;
        .sMainSlider__wrap {
          opacity: 1;
        }
        .sMainSlider__caption {
          // opacity: 1;
          // transform: translateY(0);
          pointer-events: all;
          animation-delay: 1s;
          animation: contentAnimationActive 1.2s ease-in-out 1.2s 1 both;
          pointer-events: all;
        }
      }
      @keyframes contentAnimation {
        from {
          opacity: 1;
          transform: translateY(0);
        }
        to {
          opacity: 0;
          transform: translateY(100%);
        }
      }
      @keyframes contentAnimationActive {
        from {
          opacity: 0;
          transform: translateY(100%);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    @media (min-width: 992px) {
      // padding-top: 0;
      picture {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      img {
        height: calc(100% - 100px);
        width: 50%;
        object-fit: contain;
      }
      &:nth-child(odd) {
        picture {
          img {
          }
          text-align: right;
        }
      }
      &:nth-child(even) {
        // img {
        //   margin-left: auto;
        // }
        --pl: 49%;
        --left: 0;
      }
    }
  }
  .swiper-wrapper {
    transition: all var(--s) cubic-bezier(0.33, 0.02, 0.42, 1.01);
    --s: 1.1s;
    @media (min-width: 992px) {
      transform: translateX(var(--translateSlideX));
    }
  }
  &__caption {
    padding-left: var(--pl);
    p {
      @media (min-width: 992px) {
        padding-left: rem(70);
        max-width: rem(440);
      }
    }
  }
  &__top {
    text-transform: uppercase;
    font-weight: 300;
    font-family: Commissioner;
    letter-spacing: 3px;
  }
  &__title {
    @include rfs(50px);
    font-weight: 200;
    font-family: Commissioner;
    line-height: calc(64 / 56);
    margin-bottom: rem(20);
    @include media-breakpoint-up(lg) {
      max-width: 12em;
    }
  }
  .swiper-wrapper {
    // z-index: auto;
    position: static;
  }
  .swiper-pagination {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .swiper-pagination-bullet {
    flex-grow: 1;
    border-radius: 25px;
    height: rem(4);
    background: rgba(#fff, 0.3);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      border-radius: 25px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform-origin: left;
      background: rgba($primary, 1);
      // opacity: 0.5;
      scale: var(--sc, 1) 1;
      // @include mt(.2s);
    }
    &.swiper-pagination-bullet-active ~ .swiper-pagination-bullet {
      --sc: 0;
    }
    &.swiper-pagination-bullet-active {
      &::before {
        scale: var(--sc, 0) 1;
      }
      --sc: calc(var(--percent) / 100);
    }
  }

  // TODO: remove
  // &__slide:first-child {
  //   @include media-breakpoint-up(xxl) {
  //     .sMainSlider__wrap {
  //       video {
  //         object-fit: contain;
  //         width: auto;
  //         height: 100%;
  //         right: 0;
  //         left: auto;
  //       }
  //     }
  //   }
  // }
  // z-index: -1;
  @media (min-width: 992px) {
    &__caption {
      padding-top: 9rem;
    }
  }

  @media (min-width: 1366px) {
    &__slide {
      &:nth-child(odd) {
        video {
          object-position: right;
        }
      }
    }

    &__slide {
      &:nth-child(even) {
        video {
          object-position: left;
        }
      }
    }
  }
  // z-index: -1;
  @include media-breakpoint-up(lg) {
    &__caption {
      // padding-top: rem(80);
    }
  }

  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(xl) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-between(md, xl) {
  }
  @include media-breakpoint-only(xl) {
  }
  @include media-breakpoint-down(xl) {
    video {
      object-position: top;
    }
  }
} // end.sMainSlider

.start-page {
  .main-wrapper {
    padding-top: 0 !important;
  }
}

.slider-control {
  position: relative;
  z-index: 10;
  @media (orientation: portrait), (max-width: 992px) {
    bottom: rem(15px);
  }
  @media (orientation: landscape) and (min-width: 992px) {
    width: rem(104);
    height: rem(48);
    right: rem(24);
  }
  right: rem(0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: rem(15);
  position: absolute;
  bottom: calc(#{rem(32)});
  .svg-circle {
    width: rem(130);
    height: rem(130);
    position: absolute;
    inset: 0;
    z-index: -1;
    circle[stroke='#54B565'] {
      --dasharray: calc(2 * 3.14 * 63);
      stroke-dasharray: var(--dasharray);
      stroke-dashoffset: calc(var(--dasharray) * ((100 - var(--percent, 0)) / 100));
      transform-origin: center center;
      rotate: 275deg;
      @include mt(0.02s);
    }
  }
  &__arrow {
    @include mt;
    position: absolute;
    top: 0;
    // translate: 80% 95%;
    left: 0;
    position: absolute;
    width: rem(48);
    height: rem(48);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    .icon {
      font-size: rem(15);
      stroke: #fff;
    }
    @media (hover: hover) {
      &:hover {
        background-color: $primary;
        border-color: $primary;
      }
    }
    &:active {
      background-color: $primary;
      border-color: $primary;
    }
    &--next {
      translate: 115% 0%;
      &.disabled {
        pointer-events: none;
      }
    }
    &--prev {
      &.disabled {
        pointer-events: none;
      }
    }
  }
  &__slider-pagination {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(12);
    width: auto;
    gap: 2px;
    width: calc(100% - 32px);
  }
  &__bullet {
    display: block;
    transition: all 0.36s ease-in;
    width: 100%;
    height: 4px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    // overflow: hidden;
    cursor: pointer;
    &:has(~ .active) {
      &:before {
        --scale-x: 1;
      }
    }
    &::before {
      transition: all 0.2s ease-in;
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $primary;
      transform: scaleX(var(--scale-x, 0));
      z-index: 10;
      transform-origin: left;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 100%;
    }
  }
}
.play-button {
  width: 100%;
  max-width: rem(93);
  position: absolute;
  left: rem(24);
  bottom: calc(#{rem(32)});
  z-index: 10;
  text-transform: uppercase;
  // font-family: Montserrat;
  letter-spacing: 0.5px;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5773 10.6201C19.5273 11.1686 19.5273 12.5399 18.5773 13.0884L2.13256 22.5827C1.18252 23.1313 -0.00502312 22.4456 -0.00502307 21.3486L-0.00502224 2.35991C-0.00502219 1.2629 1.18252 0.577269 2.13256 1.12577L18.5773 10.6201Z' fill='white'/%3E%3C/svg%3E%0A");
    width: rem(20);
    height: rem(23);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  svg {
    animation: rotate 20s linear infinite;
    @keyframes rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.start-page {
  // overflow: hidden;
  // position: relative;
  // max-height: 100dvh;
}

// @media (orientation: portrait) and (min-width: 768px) and (max-width: 1366px) {
@media (orientation: portrait) and (max-width: 1366px) {
  .slider-control__arrow,
  .play-button {
    display: none !important;
  }
}

.slider-control__slider-pagination {
  @media (orientation: landscape) {
    display: none !important;
  }
}
