// start .sAbout
.sAbout {
	--sPT: #{rem(0)};
	// --sPB: #{rem()};
	--sTPB: #{rem(64)};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title__subtitle {
		max-width: 460px;
	}
	&__main-text {
		font-size: rem(19);
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
		}
	}
	p {
		line-height: 160%;
		margin-bottom: rem(16);
	}
	&__img-block {
		// height: 700px;
	}
	&__img-wrap {
		width: 100%;
		@include media-breakpoint-up(md) {
			width: auto;
			max-width: rem(1280);
			margin-right: calc((100vw - 100%) / -2);
		}
		@include media-breakpoint-up(lg) {
			// position: absolute;
			// top: auto;
			// left: auto;
			// img {
			// 	max-height: 700px;
			// 	object-fit: cover;
			// }
		}
		img {
			margin-bottom: rem(8);
			width: 100%;
			@include media-breakpoint-up(sm) {
				margin-bottom:rem(24);
			}
		}
	}
	figcaption {
		color: $white;
		font-size: 12px;
		line-height: 133.333%;
		@include media-breakpoint-up(lg) {
			text-align: right;
			padding-right: 27px;
			margin-left: auto;
			color: $gray-500;
			max-width: 190px;
		}
	}
	h2 {
		margin-bottom: 24px;
	}
	ul {
		margin-bottom: rem(40);
		list-style-type: none;
		li {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
			&::before {
				display: inline-block;
				content: '';
				margin-right: 17px;
				margin-left: 9px;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background-color: white;
			}
		}
	}
	&__table-wrap {
		margin-bottom: rem(48);
	}
	&__table-title {
		margin-bottom: rem(16);
		font-size: rem(13);
		font-weight: 300;
		line-height:123.077% ;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	.table {
		position: relative;
		min-width: 500px;
		overflow: auto;
		width: 100%;
		
	}
	tbody tr:nth-child(even) {
		td {
			background-color: rgba($white, .1);
		}
	}
	th {
		padding: 8px;
		color: $gray-500;
		font-size: 12px;
		font-weight: 600;
		line-height: 133.333%;
		border-bottom: 1px solid $white;
	}
	td {
		padding: 15px 8px;
		font-size: 12px;
		font-weight: 400;
		line-height: 133.333%;
	}
	&__slider-wrap {
		margin-bottom: rem(32);
	}
	.swiper {
		overflow: visible;
	}
	.swiper-slide {
		margin-right: rem(32);
		@include media-breakpoint-up(lg) {
			width: 70%;
		}
		img {
			width: 100%;
		}
	}
	.swiper-pagination {
		text-align: left;
		top: calc(100% + 8px);
	}
	.swiper-controls {
		position: absolute;
		display: flex;
		top: calc(100% + 16px);
		left: 0;
		height: 32px;
		.swiper-button-prev,
		.swiper-button-next {
			position: static;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 0;
			width: 32px;
			height: 32px;
			border: 1px solid $white;
			border-radius: 50%;
			&::after {
				content: none;
			}
			.icon {
				font-size: 12px;
				stroke: $white;
				width: 16px;
				height: 12px;
			}
		}
		.swiper-button-prev {
			margin-right: 8px;
			transform: rotate(180deg);
		}
	}
	.swiper-pagination-bullet {
		background-color: rgba($white, .3);
	}
	.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
		background-color: rgba($white, .5);
	}
	blockquote {
		margin-bottom: 23px;
		@include media-breakpoint-down(lg) {
			padding-bottom: 16px;
			border-bottom: 2px solid $primary;
		}
	}
	blockquote p {
		padding-top: rem(16);
		padding-bottom: rem(24);
		margin-bottom: 0;
		font-size: rem(24);
		font-style: italic;
		font-weight: 400;
		line-height:133.333%;
		border-top: 2px solid $primary;
		@include media-breakpoint-up(lg) {
			padding: rem(40) 0;
		}
	}
	.blockquote-caption {
		position: relative;
		max-width: 160px;
		line-height: 1;
		.icon {
			display: block;
			margin-bottom: 8px;
			fill: $primary;
		}
		span {
			color: #717C80;
			font-size: 12px;
		}
	}
	h3 {
		margin-bottom: rem(24);
		@include media-breakpoint-down(sm) {
			font-size: rem(19);
			font-weight: 500;
		}
	}
	ol {
		margin-bottom: rem(48);
		padding-left: 0;
		list-style-type: none;
		counter-reset: sublist;
		li {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
			&::before {
				counter-increment: sublist;
				content: "1."counter(sublist)".";
				margin-right: 8px;
			}
		}
	}
	h4 {
		margin-bottom: rem(24);
	}
	&__descr {
		margin-bottom: rem(24);
		font-size: rem(18);
	}
	&__video-wrap {
		@include block(590,1048);
		width: 100%;
		// position: absolute;
		// left: auto;
		// top: auto;
		// width: 100%;
		// height: 590px;
		margin-bottom: rem(40);
		& > * {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		@include media-breakpoint-up(lg) {
			min-width: 807px;
			margin-bottom: rem(72);
		}
		@include media-breakpoint-up(xl) {
			& > * {
				min-width: 972px;
			}
		}
		@include media-breakpoint-up(xxl) {
			& > * {
				min-width: 1048px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout