mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.lg-centred
				
				+e.main-text.P Строгий контроль качества на&nbsp;всех этапах технологического процесса&nbsp;&mdash; основа производственной деятельности ООО &laquo;Линтекс&raquo;. Вся продукция имеет регистрационные удостоверения и&nbsp;сертификаты.
				p В&nbsp;нашем ассортименте представлены современные хирургические шовные материалы, полимерные сетчатые эндопротезы для герниопластики (хирургического лечения грыж живота), хирургического лечения стрессового недержания мочи при напряжении у&nbsp;женщин и&nbsp;мужчин, оперативной коррекции опущений (пролапсов) органов малого таза (опущения матки, цистоцеле, ректоцеле, энтероцеле), средства для профилактики послеоперационного спаечного процесса и&nbsp;лечения &laquo;спаечной болезни&raquo; и&nbsp;другие медицинские изделия.
				+e.img-block
					+e.img-wrap
						figure
							picture
								source(srcset="img/about-lg.jpg" media="(min-width: 576px)")
								+img("img/about-sm.jpg")
							figcaption Соленечный вид из нашего конференц-зала
				h2 Строгий контроль
				p  Система менеджмента качества предприятия сертифицирована на&nbsp;соответствие требованиям стандартов ГОСТ ISO 13485 и&nbsp;EN&nbsp;ISO 13485 (ISO 13485). Научные исследования являются одним из&nbsp;приоритетных направлений деятельности ООО &laquo;Линтекс&raquo;.
				ul
					li Хирургического лечения
					li Оперативной коррекции опущений
					li Другие медицинские изделия
				+e.table-wrap
					+e.table-title Система менеджмента качества предприятия
					table.table
						thead
							tr
								th Название 1
								th Название 2
								th Название 3
								th Название 4
						tbody
							tr
								td Хирургического лечения
								td Оперативной коррекции
								td Полимерные эндопротезы
								td Медицинские изделия
							tr
								td Оперативной коррекции
								td Полимерные эндопротезы
								td Медицинские изделия
								td Хирургического лечения
							tr
								td Полимерные эндопротезы
								td Хирургического лечения
								td Средства для профилактики
								td Полимерные эндопротезы
		.container
			+e.slider-wrap.slider-autowidth-js
				.swiper
					.swiper-wrapper
						.swiper-slide
							picture
								source(srcset="img/about-slider-lg-1.jpg" media="(min-width: 576px)")
								+img("img/about-slider-sm-1.jpg")
						.swiper-slide
							picture
								source(srcset="img/about-slider-lg-2.jpg" media="(min-width: 576px)")
								+img("img/about-slider-lg-2.jpg")
						.swiper-slide
							picture
								source(srcset="img/about-slider-lg-1.jpg" media="(min-width: 576px)")
								+img("img/about-slider-sm-1.jpg")
						.swiper-slide
							picture
								source(srcset="img/about-slider-lg-2.jpg" media="(min-width: 576px)")
								+img("img/about-slider-lg-2.jpg")
					.swiper-pagination.d-block.d-lg-none
					.swiper-controls.d-none.d-lg-flex
						.swiper-button-prev
							+icon('arrow-right')
						.swiper-button-next
							+icon('arrow-right')
		.container
			.lg-centred
				h3 Регистрационные удостоверения и сертификаты
				p Предприятие &laquo;Линтекс&raquo;&nbsp;&mdash; созданное на&nbsp;базе научных разработок Санкт-Петербургского Государственного Университета Технологии и&nbsp;Дизайна, является одним из&nbsp;ведущих российских производителей хирургических полимерных материалов.
				ol
					li Хирургического лечения
					li Оперативной коррекции опущений
					li Другие медицинские изделия
			blockquote
				.lg-centred
					p “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida magna ac vehicula volutpat. Nam non aliquam magna. Etiam et consectetur purus.”
				.blockquote-caption
					+icon('quote')
					| Александр Невский #[span Генеральный директор]
			.lg-centred
				h4 Области применения
				+e.descr.P Современные хирургические шовные материалы
				p напряжении у&nbsp;женщин и&nbsp;мужчин, оперативной коррекции опущений (пролапсов) органов малого таза (опущения матки, цистоцеле, ректоцеле, энтероцеле), средства для профилактики послеоперационного спаечного процесса и&nbsp;лечения &laquo;спаечной болезни&raquo; и&nbsp;другие медицинские изделия.
				+e.video-wrap
					<iframe src="https://www.youtube.com/embed/lJ_eoyQ-9cA?si=WZqeBwEHOjgnbbf2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	// end sAbout