extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Контакты'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	main
		+parts('header')
		+sContact
	+footer
	//- +parts('footer')
      



