extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sNews/_sNews.pug


include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page with-fix-nav' 
	- let  bg= null

block title
	- let  title= 'Cтатьи'
	title= title
block pagecontent
	//- +mob-mnu()
	//- +bgCircles()
	main
		+parts('header')
		//- +pic('img/header-img.png','bg').header-bg
		+headerBlock5('Бедренные грыжи','','Все публикации') 
		//- +headerBlock5('Бедренные грыжи') 
		+sContent
			.container-lg
				p.mb-40(data-aos="fade-up" data-aos-duration="900" data-aos-delay="350") В&nbsp;нашем ассортименте представлены современные хирургические шовные материалы, полимерные сетчатые эндопротезы для герниопластики (хирургического лечения грыж живота), хирургического лечения стрессового недержания мочи при напряжении у&nbsp;женщин и&nbsp;мужчин, оперативной коррекции опущений (пролапсов) органов малого таза (опущения матки, цистоцеле, ректоцеле, энтероцеле), средства для профилактики послеоперационного спаечного процесса и&nbsp;лечения &laquo;спаечной болезни&raquo; и&nbsp;другие медицинские изделия.
				.img-animate-wrap-js
					+e.img-wrap.img-animate-js
						.bg
						figure
							+pic("img/about-2.jpg")
							figcaption(data-aos="fade-up" data-aos-duration="500" data-aos-delay="150") Соленечный вид из нашего конференц-зала
				h2(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150") Строгий контроль
				p(data-aos="fade-up" data-aos-duration="800" data-aos-delay="450")  Система менеджмента качества предприятия сертифицирована на&nbsp;соответствие требованиям стандартов ГОСТ ISO 13485 и&nbsp;EN&nbsp;ISO 13485 (ISO 13485). Научные исследования являются одним из&nbsp;приоритетных направлений деятельности ООО &laquo;Линтекс&raquo;.
				ul
					li(data-aos="fade-up" data-aos-duration="400" data-aos-delay="500") Хирургического лечения
					li(data-aos="fade-up" data-aos-duration="500" data-aos-delay="500") Оперативной коррекции опущений
					li(data-aos="fade-up" data-aos-duration="600" data-aos-delay="500") Другие медицинские изделия
				+e.table-title(data-aos="fade-up" data-aos-duration="600" data-aos-delay="300") Система менеджмента качества предприятия
				+e.table-wrap(data-aos="fade-up" data-aos-duration="600" data-aos-delay="300")
					table.table
						thead
							tr
								th Название 1
								th Название 2
								th Название 3
								th Название 4
						tbody
							tr
								td Хирургического лечения
								td Оперативной коррекции
								td Полимерные эндопротезы
								td Медицинские изделия
							tr
								td Оперативной коррекции
								td Полимерные эндопротезы
								td Медицинские изделия
								td Хирургического лечения
							tr
								td Полимерные эндопротезы
								td Хирургического лечения
								td Средства для профилактики
								td Полимерные эндопротезы
			//- .container-lg
			+defSlider
				+e.slide.swiper-slide: +pic("img/news-slider-1.jpg", 'bg', false)(data-src=`img/news-slider-1.jpg` data-fancybox=`gallery-5`)
				+e.slide.swiper-slide: +pic("img/news-slider-2.jpg", 'bg', false)(data-src=`img/news-slider-2.jpg` data-fancybox=`gallery-5`)
				+e.slide.swiper-slide: +pic("img/news-slider-1.jpg", 'bg', false)(data-src=`img/news-slider-1.jpg` data-fancybox=`gallery-5`)
				+e.slide.swiper-slide: +pic("img/news-slider-2.jpg", 'bg', false)(data-src=`img/news-slider-2.jpg` data-fancybox=`gallery-5`)
			//- +e.slider-wrap.slider-autowidth-js
			//- 	.swiper
			//- 		.swiper-wrapper
			//- 			.swiper-slide
			//- 				+e.slide-wrap
			//- 					+pic("img/news-slider-1.jpg")
			//- 			.swiper-slide
			//- 				+e.slide-wrap
			//- 					+pic("img/news-slider-2.jpg")
			//- 			.swiper-slide
			//- 				+e.slide-wrap
			//- 					+pic("img/news-slider-1.jpg")
			//- 			.swiper-slide
			//- 				+e.slide-wrap
			//- 					+pic("img/news-slider-2.jpg")
			//- 		.swiper-pagination.d-block.d-lg-none
			//- 		.swiper-controls.d-none.d-lg-flex
			//- 			.swiper-button-prev
			//- 				+icon('arrow-right')
			//- 			.swiper-button-next
			//- 				+icon('arrow-right')
			.container-lg
				h3(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Регистрационные удостоверения и сертификаты
				p(data-aos="fade-up" data-aos-duration="600" data-aos-delay="300") Предприятие &laquo;Линтекс&raquo;&nbsp;&mdash; созданное на&nbsp;базе научных разработок Санкт-Петербургского Государственного Университета Технологии и&nbsp;Дизайна, является одним из&nbsp;ведущих российских производителей хирургических полимерных материалов.
				ol
					li(data-aos="fade-up" data-aos-duration="400" data-aos-delay="300") Хирургического лечения
					li(data-aos="fade-up" data-aos-duration="500" data-aos-delay="400") Оперативной коррекции опущений
					li(data-aos="fade-up" data-aos-duration="600" data-aos-delay="500") Другие медицинские изделия
			blockquote
				.container-lg
					p(data-aos="fade-up" data-aos-duration="600" data-aos-delay="300") “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida magna ac vehicula volutpat. Nam non aliquam magna. Etiam et consectetur purus.”
				.blockquote-caption(data-aos="fade-up" data-aos-duration="600" data-aos-delay="500")
					+icon('quote')
					| Александр Невский #[span Генеральный директор]
			.container-lg
				h4(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300") Области применения
				+e.descr.P(data-aos="fade-up" data-aos-duration="600" data-aos-delay="300") Современные хирургические шовные материалы
				p(data-aos="fade-up" data-aos-duration="600" data-aos-delay="400") напряжении у&nbsp;женщин и&nbsp;мужчин, оперативной коррекции опущений (пролапсов) органов малого таза (опущения матки, цистоцеле, ректоцеле, энтероцеле), средства для профилактики послеоперационного спаечного процесса и&nbsp;лечения &laquo;спаечной болезни&raquo; и&nbsp;другие медицинские изделия.
			.container-lg.container-lg--soc
				+videoBlock()
				//- .img-animate-wrap-js
				//- 	+e.video-wrap.img-animate-js
				//- 		.bg
				//- 		<iframe src="https://www.youtube.com/embed/lJ_eoyQ-9cA?si=WZqeBwEHOjgnbbf2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				+soc
					+item-sos('facebook')
					+item-sos('twitter')
					+item-sos('vk-bold')
					+item-sos('instagram')

		+sNews.sNews--content.sNews--articles
			.section-title
				h2(data-aos="fade-up" data-aos-duration="700" data-aos-delay="250") Другие статьи
			+e.row.row
				+newsItem('news-1.jpg','Грыжа пищеводного отверстия диафрагмы','Грыжа пищеводного отверстия диафрагмы (синоним - хиатальная грыжа) представляет собой хроническое рецидивирующее заболевание пищевода и связочного аппарата диафрагмы, при котором через расширенное пищеводное отверстие диафрагмы в грудную полость могут смещаться нижний отдел пищевода или прил...')

				+newsItem('news-2.jpg','Послеоперационные вентральные грыжи','Послеоперационные вентральные грыжи, характеризуются выходом органов брюшной полости или их частей через дефект мышечно-сухожильного каркаса, который расположен на передней стенке брюшины.')

	+footer2
	//- +parts('footer2')