extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPublications/_sPublications.pug
include ../blocks/sCard/_sCard.pug
include ../blocks/footer/_footer.pug


block variables
	- let  mainPage= 'main-page white-page' 
	- let  bg= null

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	main
		include ../blocks/header/_header.pug
		include ../blocks/topLine/_topLine.pug
		include ../blocks/top-nav/_top-nav.pug 
		+header()
			+topLine
			+top-nav()
		+page-head-bc('Мезогель®', 'Новейшее противоспаечное средство для профилактики и&nbsp;лечения спаечного процесса в&nbsp;хирургии. Противоспаечный гель обладает уникальными свойствами и&nbsp;эффективно предотвращает образование спаек в&nbsp;организме человека.','img/card-1.png','Каталог','Противоспаечные средства','Мезогель')(style="--gradient-head:  radial-gradient(98.41% 60.41% at 0% 100%, rgba(198, 210, 25, 0.66) 0%, rgba(198, 210, 25, 0.38) 28.07%, rgba(198, 210, 25, 0.19) 60.37%, rgba(198, 210, 25, 0.00) 100%)")
		+sCard
		+sPublications.sPublications--card
			+b.section-title
				h2(data-aos="fade-up" data-aos-duration="700" data-aos-delay="250") Наука и исследования
				+e.link(href="#") Перейти в раздел
					+icon('arrow-right')
			+e.row.row.row
				+publication('news-1.jpg','Бедренные грыжи','Бедренная грыжа&nbsp;&mdash; это выпячивание в&nbsp;бедренный канал через бедренное кольцо с&nbsp;содержимым (петли кишечника и&nbsp;пряди большого сальника), располагающееся под паховой складкой. Бедренная грыжа у&nbsp;женщин развивается примерно в&nbsp;четыре раза чаще, чем у&nbsp;мужчин.')
				+publication('news-2.jpg','Грыжа пищеводного отверстия диафрагмы','Грыжа пищеводного отверстия диафрагмы (синоним&nbsp;&mdash; хиатальная грыжа) представляет собой хроническое рецидивирующее заболевание пищевода и&nbsp;связочного аппарата диафрагмы, при котором через расширенное пищеводное отверстие диафрагмы в&nbsp;грудную полость могут смещаться нижний отдел пищевода или прилегающий к&nbsp;пищеводу отдел желудка. Подробнее')
			.loader(data-aos="fade-up" data-aos-duration="700" data-aos-delay="250")


	//- +parts('footer2')
	+footer2
      



