extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

include ../blocks/sScienceHead/_sScienceHead.pug
include ../blocks/sScienceBody/_sScienceBody.pug

block variables
	- let  mainPage= 'official-dealer-page white-page' 
	- let  bg= null

block title
	- let  title= 'Вся продукция'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	main
		include ../blocks/header/_header.pug
		include ../blocks/topLine/_topLine.pug
		include ../blocks/top-nav/_top-nav.pug 
		+header()
			+topLine
			+top-nav()
		+page-head({
			withCaption: {
				title: 'Вся продукция',
				text: 'Строгий контроль качества на&nbsp;всех этапах технологического процесса&nbsp;&mdash; основа производственной деятельности ООО &laquo;Линтекс&raquo;. Вся продукция имеет регистрационные удостоверения и&nbsp;сертификаты. Система менеджмента качества предприятия сертифицирована на&nbsp;соответствие требованиям стандартов ГОСТ ISO 13485 и&nbsp;EN&nbsp;ISO 13485 (ISO 13485). Научные исследования являются одним из&nbsp;приоритетных направлений деятельности ООО &laquo;Линтекс&raquo;.'
			},
			switch: false,
		})
		+sCatalog.sCatalog--prod
			.sCatalog__prod-wrap.section-animate
				.block-with-animante
				.container
					.row
						.col-6.col-md-3
							+product-item('ПГА рапид','Нити полигликолидные, плетеные, с покрытием','1')(style="--gradient:linear-gradient(90deg, #DC5672 0.02%, rgba(220, 86, 114, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2')(style="--gradient:linear-gradient(90deg, #D27219 0%, rgba(210, 114, 25, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3')(style="--gradient:linear-gradient(90deg, #CCA5C9 0.02%, rgba(204, 165, 201, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('ПГА рапид','Нити полигликолидные, плетеные, с покрытием','1')(style="--gradient:linear-gradient(90deg, #A3428F 0%, rgba(163, 66, 143, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2')(style="--gradient:linear-gradient(90deg, #2B74B7 0%, rgba(43, 116, 183, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3')(style="--gradient:linear-gradient(90deg, #3DAA4B 0%, rgba(61, 170, 75, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2')(style="--gradient:linear-gradient(90deg, #73C6DC 0%, rgba(115, 198, 220, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3')(style="--gradient:linear-gradient(90deg, #A3428F 0%, rgba(163, 66, 143, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('ПГА рапид','Нити полигликолидные, плетеные, с покрытием','1')(style="--gradient:linear-gradient(90deg, #D27219 0%, rgba(210, 114, 25, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2')(style="--gradient:linear-gradient(90deg, #A3428F 0%, rgba(163, 66, 143, 0.26) 100%)")
						.col-6.col-md-3
							+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3')(style="--gradient:linear-gradient(90deg, #DC5672 0.02%, rgba(220, 86, 114, 0.26) 100%)")
	//- +parts('footer2')
	+footer2
      



