mixin product-item(title,descr,img)
	+b.ARTICLE.catalog-item(href="#")&attributes(attributes)
		+e.title!= title
		+e.descr.d-none.d-md-block!= descr
		+e.img-wrap
			+img(`img/catalog-${img}.png`)
	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+e.buttons-wrap
			.container
				+e.buttons-row.swiper.sm-swiper-js
					.swiper-wrapper
						.swiper-slide
							+e.btn.active(href="#") Все направления 
						.swiper-slide
							+e.btn(href="#") Герниопластика (лечение грыж) 
						.swiper-slide
							+e.btn(href="#") Урология
						.swiper-slide
							+e.btn(href="#") Гинекология
						.swiper-slide
							+e.btn(href="#") Офтальмология
						.swiper-slide
							+e.btn(href="#") Ветеринария
		if block
			block
		else
			+e.slider-wrap
				.container
					+e.slider-wrap
						+e.slider--js.swiper
							.swiper-wrapper
								.swiper-slide
									+product-item('ПГА рапид','Нити полигликолидные, плетеные, с покрытием','1')
								.swiper-slide
									+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2').--blush
								.swiper-slide
									+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3').--lilac
								.swiper-slide
									+product-item('ПГА рапид','Нити полигликолидные, плетеные, с покрытием','1').--choco
								.swiper-slide
									+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2').--plum
								.swiper-slide
									+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3').--denim
						+arrow
			+e.category-wrap
				.container
					+e.category-list.UL
						mixin catRow(img,title, descr)
							+e.row.row.LI
								+e.cat-img.col-12.col-sm-6
									+e.cat-img-wrap
										+pic(`img/category-${img}.png`)
								.col-12.col-sm-6
									+e.cat-text
										h2= title
										+e.cat-descr= descr
										+e.link(href="#") Перейти в категорию
											+icon('circle-arrow')
						+catRow('1','Рассасывающиеся ХШМ', 'Нити хирургические с иглами атравматическими и нити хирургические в отрезках, стерильные')
						+catRow('2','Нерассасывающиеся ХШМ', 'Многоразовые инструменты для установки сетчатых эндопротезов')
						+catRow('3','Специальные ХШМ', 'Раневые покрытия – это специальные материалы, которые защищают рану от микроорганизмов.')
						+catRow('4','Эндопротезы для восстановительной хирургии', 'Хирургические сетки для лечения грыж и выпадения женских половых органов.')
						+catRow('5','Эндопротезы для урогинекологии', 'Новейшее противоспаечное средство МЕЗОГЕЛЬ® для профилактики и лечения спаечного процесса в хирургии.')
	// end sCatalog

mixin sCatalogRow(data)
	// start sCatalog
	+b.sCatalogRow.section&attributes(attributes)
		.container
			+e.row.row
				.col-6.col-md-3
					+product-item('ПГА рапид','Нити полигликолидные, плетеные, с покрытием','1').--fern
				.col-6.col-md-3
					+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2').--blush
				.col-6.col-md-3
					+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3').--lilac
				.col-6.col-md-3
					+product-item('ПГА рапид','Нити полигликолидные, плетеные, с покрытием','1').--choco
				.col-6.col-md-3
					+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2').--plum
				.col-6.col-md-3
					+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3').--denim
				.col-6.col-md-3
					+product-item('Пелвикс передний','Нити полигликолидные, плетеные, с покрытием и в лигатурном исполнении, полимерные сетчатые эндопротезы, хирургические инструменты','2').--green
				.col-6.col-md-3
					+product-item('Ультрасорб','Нити полигликолидные, плетеные, с покрытием','3').--aqua