mixin s404(data)
	// start s404
	+b.SECTION.s404.section#s404&attributes(attributes)
		+e.container.container
			+e.logo-wrap(href="#")
				+img('img/logo-404.png')
				+icon('logo')
			h1 404. Страница не&nbsp;найдена
			+e.btn.btn.btn-primary На главную
	// end s404