.menu {
  @include media-breakpoint-up(xl) {
    display: flex;
    text-align: center;
    margin-bottom: 0;
    // justify-content: space-between;
    @include roww(20px);
    // flex-wrap: wrap;
  }

  list-style: none;
  position: relative;
  margin-bottom: rem(50);
  max-width: 100%;
  li {
    // margin-left: 0;
    // margin-right: 0;
    padding: 0;
  }
  a {
    display: block;
    padding: rem(8) rem(6);
    font-size: rem(14);
    padding: rem(8) rem(6);
    color: $light;
    white-space: nowrap;
    &::before {
      content: "";
      inset: 0;
      position: absolute;
    }
    @include media-breakpoint-up(xl) {
      padding: rem(15) rem(8);
      font-size: 0.8rem;
    }
    &:hover {
      color: $primary;
    }
  }
  @include media-breakpoint-up(xxl) {
    justify-content: flex-start;
  }
}
.sub-menu {
  display: none;
  @include media-breakpoint-up(xl) {
    @include mt;
    min-width: rem(240);
    display: block;
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    width: max-content;
    max-width: calc(rem(346) + rem(90));
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
  }
}
.priority-nav__dropdown,
.sub-menu {
  list-style-type: none;
  text-align: left;
  padding-left: rem(20);
  min-width: rem(240);
  @include media-breakpoint-up(xl) {
    padding: rem(8);
    border-radius: rem(4);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    li {
      border-radius: rem(4);
    }
    li:not(:last-child) {
      margin-bottom: rem(4);
    }
    a {
      display: block;
      color: #fff;
      padding: rem(10);
      border-radius: rem(4);
      &:hover {
        color: #fff;
        background-color: #04623b4d;
      }
    }
  }
}
.menu-item a {
  padding: rem(5);
  font-size: rem(14);
}
.menu-item-has-children.shown {
  & > .sub-menu {
    display: block;
  }
  & > a {
    color: var(--bs-link-hover-color);
  }
}

.toggle-menu-mobile {
  --h: #{rem(1)};
  --color: #{$light};
  --position: #{rem(5)};
  &.on span {
    --color: transparent;
    &:before,
    &:after {
      --color: #{$light};
    }
  }

  &.on {
    --position: 0;
    --rotate: 45deg;
  }
  display: block;
  height: calc(var(--h) * 12);
  position: relative;
  font-size: rem(18);
  width: 1em;
  cursor: pointer;
  span:after,
  span:before {
    content: "";
    position: absolute;
    left: 0;
  }
  span {
    @include a-cent(y);
    display: block;
  }

  span:before {
    top: var(--position);
    transform: rotate3d(0, 0, 1, var(--rotate, 0));
  }

  span:after {
    bottom: var(--position);
    transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
  }
  span,
  span:after,
  span:before {
    // width: 32px;
    width: 1em;
    height: var(--h);
    background-color: var(--color);
    transition: all 0.3s;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
  }
}
.menu-item {
  position: relative;
}
.menu-item-has-children:hover > .sub-menu {
  opacity: 1;
  pointer-events: all;
}
.menu-item-has-children {
  &:before {
    content: "";
    height: 100%;
    left: calc(-15%);
    position: absolute;
    top: 50%;
    width: 120%;
    display: none;
  }
  &:hover {
    &:before {
      display: block;
    }
  }
}
@include media-breakpoint-down(xl) {
  .menu-mobile {
    --topY: #{rem(70)};
    @include media-breakpoint-down(lg) {
      --topY: #{rem(55)};
    }
    position: fixed !important;
    z-index: 999;
    // max-width: 85%;
    // height: calc(var(--vh, 1vh) * 100);
    // height: 100vh;
    width: 100%;
    top: calc(env(safe-area-inset-top, 0px) + var(--topY));
    // left: 0;
    right: 0;
    background-color: $body-bg;
    &:not(.active) {
      transform: translate3d(0, -120%, 0);
      --opacity: 0;
      .toggle-menu-mobile {
        opacity: 0;
      }
    }
    @include mt(0.6s);
    will-change: transform;
    .toggle-menu-mobile {
      margin-left: -15%;
      position: absolute;
      left: 0;
      right: auto;
      color: #fff;
      top: rem(10);
      z-index: 9999;
      span:after,
      span:before {
        --color: #ffffff;
      }
    }
    &__inner {
      padding: calc(env(safe-area-inset-top, 0px) + #{rem(20)}) 0
        calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      height: calc(var(--vh) * 100 - var(--topY));
      // @include mt(.3s);
      // transition-delay: .4s;
      // opacity: var(--opacity);
      .topLine__action-item,
      .topLine__btn {
        @include media-breakpoint-down(xl) {
          padding-left: rem(10);
          margin-bottom: rem(15);
          .topLine__action-link {
            font-size: rem(15);
          }
        }
      }
      .topLine__btn {
        margin-left: rem(10);
      }
    }

    &.active {
      .toggle-menu-mobile {
        opacity: 1;
      }
    }

    ul {
      position: relative;
    }

    li {
      display: block;
      margin: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.13);

      a {
        // font-size: 16px;

        padding: rem(10);
        display: block;
      }
    }
  }
}
