mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.row.row
			.col.order-xl-0
				.menu-wrap.menu-wrap--js.d-xl-block.d-none
					+mnu()
				.menu-mobile.menu-mobile--js.d-xl-none
					.menu-mobile__inner
						//- +menu-toggle()
						+mnu()
						.topLine__action-item
							.topLine__action-link(href="mailto:zakaz@lintex.ru") zakaz@lintex.ru
						.topLine__action-item
							.topLine__action-link(href="tel:+78123854430") +7 (812) 385-44-30
						.topLine__btn.btn.btn-outline-light.d-inline Задать вопрос
			+e.menu-col.col-auto.d-xl-none
				+menu-toggle()
			+e.feedback-col.col-auto.d-none.d-xl-block
				+e.btn.btn.btn-outline-light(href="#") Задать вопрос
	// end top-nav