.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		position: relative;
		padding: rem(7) 0;
		align-items: center;
		@include media-breakpoint-down(xxl) {
			padding: 0;
		}
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			// --bs-gutter-y: var(--bs-gutter-x);
		// }

	}
	&__feedback-col {
		@include media-breakpoint-down(xxl) {
			position: absolute;
			bottom:calc(100% + 10px);
			right: 0;
		}
	}
	&__menu-col {
		@include media-breakpoint-down(lg) {
			position: absolute;
			bottom:calc(100% + 15px);
			right: 0;
		}
	}
	&__btn {
		@include media-breakpoint-down(xxl) {
			font-size: 13px;
			padding: 2px 5px;
		}
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


