mixin header()
	// start header
	+b.HEADER.header#header&attributes(attributes)
		.container-fluid
			+e.row.row
				.col-auto
					+e.logo(href="#")
						+img('img/logo.svg')
				.col
					block
	// end header