// start .sPublications
.sPublications {
	--sPT: #{rem(0)};
	--sPB: #{rem(40)};
	// --sTPB: #{rem()};
	// position: relative;
	// z-index: 1;
	// background-color: $body-bg;
	@include media-breakpoint-up(md) {
		--sPT: #{rem(8)};
		--sPB: #{rem(64)};
	}
	&__row{
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: #{rem(16)};
		margin-bottom: rem(40);
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(128)};
			--bs-gutter-y: #{rem(48)};
		}
	}
	h1 {
		margin-bottom: rem(24);
		font-size: rem(26);
		font-weight: 400;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
			font-size: rem(40);
			font-weight: 200;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__input-wrap {
		position: relative;
		display: inline-block;
		margin-bottom: rem(24);
		width: 100%;
		label {
			width: 100%;
		}
		@include media-breakpoint-up(md) {
			width: auto;
		}
		&::after {
			position: absolute;
			content: '';
			top: 50%;
			right: rem(8);
			width: rem(24);
			height: rem(24);
			background-image: url('../img/chevron-down.svg');
			background-repeat: no-repeat;
			background-size: cover;
			transform: translateY(-50%);
			pointer-events: none;
		}
	}
	&__input {
		padding: rem(8) rem(40) rem(8) rem(8);
		border-radius: 4px;
		border: none;
		background: rgba(255, 255, 255, 0.10);
		@include media-breakpoint-up(md) {
			min-width: rem(219);
		}
	}
	&__img-wrap {
		@include block(1,1);
		margin-bottom: rem(16);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		margin-bottom: rem(8);
		color: $primary;
		font-size: rem(12);
		@include media-breakpoint-up(md) {
			font-size: rem(24);
		}
	}
	&__descr {
		margin-bottom: rem(8);
		font-size: rem(12);
		line-height: 133.333%;
		color: $white;
		@include media-breakpoint-down(md) {
			flex-grow: 1;
		}
		p {
			margin: 0;
			-webkit-line-clamp: 5;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__date {
		font-size: rem(12);
		color: rgba($white, .5);
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPublications