mixin sPublications(data)
	// start sPublications
	+b.SECTION.sPublications.section#sPublications&attributes(attributes)
		.container
			//- +b.section-title
			//- 	h1 Публикации
			div(data-aos="fade-up" data-aos-duration="700" data-aos-delay="250")
				+select('','Все года','Все года 1','Все года 2','Все года 3')
			+e.row.row
				mixin publication(img, title, descr, date="23 сентября 2023")
					.col-6&attributes(attributes)
						+e.item(href="#")
							.img-animate-wrap-js
								+e.img-wrap.img-animate-js
									.bg
									+pic(`img/${img}`)
							+e.title(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150")= title
							+e.descr(data-aos="fade-up" data-aos-duration="800" data-aos-delay="250"): p!= descr
							+e.date(data-aos="fade-up" data-aos-duration="700" data-aos-delay="450")= date
				+publication('news-1.jpg','Бедренные грыжи','Бедренная грыжа&nbsp;&mdash; это выпячивание в&nbsp;бедренный канал через бедренное кольцо с&nbsp;содержимым (петли кишечника и&nbsp;пряди большого сальника), располагающееся под паховой складкой. Бедренная грыжа у&nbsp;женщин развивается примерно в&nbsp;четыре раза чаще, чем у&nbsp;мужчин.')
				+publication('news-2.jpg','Грыжа пищеводного отверстия диафрагмы','Грыжа пищеводного отверстия диафрагмы (синоним&nbsp;&mdash; хиатальная грыжа) представляет собой хроническое рецидивирующее заболевание пищевода и&nbsp;связочного аппарата диафрагмы, при котором через расширенное пищеводное отверстие диафрагмы в&nbsp;грудную полость могут смещаться нижний отдел пищевода или прилегающий к&nbsp;пищеводу отдел желудка. Подробнее')
				+publication('news-3.jpg','Послеоперационные вентральные грыжи','Послеоперационные вентральные грыжи, характеризуются выходом органов брюшной полости или их&nbsp;частей через дефект мышечно-сухожильного каркаса, который расположен на&nbsp;передней стенке брюшины.')
				+publication('news-4.jpg','Пупочные грыжи','Пупочная грыжа&nbsp;&mdash; патологическое выпячивание органа или его части через дефект в&nbsp;мышечном слое брюшной стенки (грыжевые ворота) под кожу, во&nbsp;внутренние полости, в&nbsp;межмышечное пространство.')
				+publication('news-5.jpg','Грыжи белой линии','Грыжа белой линии живота&nbsp;&mdash; заболевание, которое появляется вследствие растяжения и&nbsp;истончения апоневроза по&nbsp;средней линии живота над пупком вследствие расхождения прямых мышц (диастаза прямых мышц живота).')
				+publication('news-6.jpg','Паховые грыжи','Паховая грыжа&nbsp;&mdash; одна из&nbsp;наиболее распространенных патологий передней брюшной стенки, при которой происходит выпячивание органов в&nbsp;паховый канал. Среди всех случаев заболеваний паховая грыжа у&nbsp;мужчин диагностируется в&nbsp;90-97%')
				+publication('news-7.jpg','Бедренные грыжи','Бедренная грыжа&nbsp;&mdash; это выпячивание в&nbsp;бедренный канал через бедренное кольцо с&nbsp;содержимым (петли кишечника и&nbsp;пряди большого сальника), располагающееся под паховой складкой. Бедренная грыжа у&nbsp;женщин развивается примерно в&nbsp;четыре раза чаще, чем у&nbsp;мужчин.')
				+publication('news-8.jpg','Грыжа пищеводного отверстия диафрагмы','Грыжа пищеводного отверстия диафрагмы (синоним - хиатальная грыжа) представляет собой хроническое рецидивирующее заболевание пищевода и связочного аппарата диафрагмы, при котором через расширенное пищеводное отверстие диафрагмы в грудную полость могут смещаться нижний отдел пищевода или прилегающий к пищеводу отдел желудка.Подробнее')
			.loader(data-aos="fade-up" data-aos-duration="700" data-aos-delay="250")
	// end sPublications