mixin searchItem(img, category, title, descr,prod)
	+e.item(href="#")&attributes(attributes)
		if prod
			+e.img-wrap
				+e.prod-wrap
					+img(`img/search-item-${img}`)
		else
			+e.img-wrap
				+img(`img/search-item-${img}`)
		+e.item-text
			+e.item-category= category
			+e.item-title.H2!= title
			+e.item-descr.P!= descr

mixin sSearch(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			+b.section-title.d-md-none
				h1(data-aos="fade-up" data-aos-duration="700" data-aos-delay="250") Поиск по сайту
			+e.box
				+e.slider-row.row
					.col-md-8
						+search2()
					.col-4.d-none.d-md-block
						.animate-slider
							.animate-slider__animation(data-json='data/data.json')
							+e.slider--js.swiper
								.swiper-wrapper
									.swiper-slide
										+img('img/search-slider-1.png')
									.swiper-slide
										+img('img/search-slider-2.png')
									.swiper-slide
										+img('img/search-slider-3.png')
									.swiper-slide
										+img('img/search-slider-4.png')
									.swiper-slide
										+img('img/search-slider-5.png')
									.swiper-slide
										+img('img/search-slider-6.png')
			if block
				block
			else
				+e.menu.swiper.sm-swiper-js
					.swiper-wrapper
						.swiper-slide
							+e.menu-btn.active(href="#") Все результаты 
						.swiper-slide
							+e.menu-btn(href="#") Новости 
						.swiper-slide
							+e.menu-btn(href="#") Статьи
						.swiper-slide
							+e.menu-btn(href="#") Товары
				+e.list.UL
					+searchItem('1.jpg', 'Новости, Публикации в прессе', 'Сетчатые эндопротезы, используемые в хирургии недержания мочи', 'В&nbsp;нашем ассортименте представлены современные полимерные сетчатые эндопротезы для хирургического лечения грыж живота, недержания мочи, пролапса гениталий и&nbsp;других патологий.')
					+searchItem('2.jpg', 'Статьи', 'Лечение пролапса тазовых органов', 'К&nbsp;сожалению, окно терапевтических возможностей большинства консервативных методов (т.е., период, когда лечение приносит наибольший эффект) достаточно узкое и&nbsp;касается, в&nbsp;основном, профилактики или лечения начальных форм опущения.На сегодняшний хирургическая операция является единственным методом, обеспечивающим долгосрочную эффективность лечения.')
					+searchItem('3.jpg', 'Новости, Научная деятельность', 'Профилактика и лечение спайкообразования', 'Принципиальное отличие ненатяжной герниопластики с&nbsp;сеткой от&nbsp;традиционной натяжной пластики состоит в&nbsp;том, что грыжевые ворота закрываются не&nbsp;собственными тканями пациента, а&nbsp;специальным сетчатым имплантом.')
					+searchItem('4.png', 'Товары', 'Мезогель®', 'Новейшее противоспаечное средство для профилактики и&nbsp;лечения спаечного процесса в&nbsp;хирургии. Противоспаечный гель обладает уникальными свойствами и&nbsp;эффективно предотвращает образование спаек в&nbsp;организме человека.','prod')(style="--gradient:linear-gradient(90deg, #DC5672 0.02%, rgba(220, 86, 114, 0.26) 100%)").--prod
					+searchItem('5.jpg', 'Новости, Публикации в прессе', 'Сетчатые эндопротезы, используемые в хирургии недержания мочи', 'В&nbsp;нашем ассортименте представлены современные полимерные сетчатые эндопротезы для хирургического лечения грыж живота, недержания мочи, пролапса гениталий и&nbsp;других патологий.')
					+searchItem('6.png', 'Товары', 'Биатравм', 'Раневые покрытия&nbsp;&mdash; это специальные материалы, которые защищают рану от&nbsp;микроорганизмов, создают оптимальные условия для заживления и&nbsp;регенерации тканей, не&nbsp;раздражают кожу и&nbsp;область раны.','prod')(style="--gradient:linear-gradient(90deg, #A3428F 0%, rgba(163, 66, 143, 0.26) 100%)").--prod
					+searchItem('7.jpg', 'Новости', 'Грыжа пищеводного отверстия диафрагмы', 'Грыжа пищеводного отверстия диафрагмы (синоним&nbsp;&mdash; хиатальная грыжа) представляет собой хроническое рецидивирующее заболевание пищевода и&nbsp;связочного аппарата диафрагмы, при котором через расширенное пищеводное отверстие диафрагмы в&nbsp;грудную полость могут смещаться нижний отдел пищевода или прилегающий к&nbsp;пищеводу отдел желудка.')
					+searchItem('1.jpg', 'Новости', 'Сетчатые эндопротезы, используемые в хирургии недержания мочи', 'В&nbsp;нашем ассортименте представлены современные полимерные сетчатые эндопротезы для хирургического лечения грыж живота, недержания мочи, пролапса гениталий и&nbsp;других патологий.')
					+searchItem('9.jpg', 'Новости', 'Послеоперационные вентральные грыжи', 'Послеоперационные вентральные грыжи, характеризуются выходом органов брюшной полости или их&nbsp;частей через дефект мышечно-сухожильного каркаса, который расположен на&nbsp;передней стенке брюшины.')
				.loader(data-aos="fade-up" data-aos-duration="700" data-aos-delay="250")

	// end sSearch