
mixin mnu() 
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link in nav
			if link.subnav
				li.menu-item.menu-item-has-children
					a(href="#"  class= link.class )= link.subname
					ul.sub-menu
						each sublink in link.subnav
							li.menu-item(itemprop="item" ): a(href= sublink.url class= sublink.class itemprop="url")= sublink.name
			else
				li.menu-item(itemprop="item" ): a(href= link.url itemprop="url" class= link.class )= link.name

//- menu